@font-face {
  font-family: 'Segoe UI Regular';
  src: url('../resources/fonts/SegoeUI.eot');
  src: url('../resources/fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
  url('../resources/fonts/SegoeUI.woff') format('woff'),
  url('../resources/fonts/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
