*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

svg {
  vertical-align: middle;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Segoe UI";
  font-weight: 400;
  background-color: var(--black);
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: url("@img/space-shop__bg.png");
  background-repeat: no-repeat;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 15px;
}
